/src/pg/.vs/
/src/pg/pg1_embree.sln
/src/pg/pg1_embree/pg1_embree.vcxproj
/src/pg/pg1_embree/pg1_embree.vcxproj.filters
/src/pg/pg1_embree/pg1_embree.vcxproj.user
/src/pg/pg1_embree/imgui.ini
/src/pg/pg1_embree/convert.py
/cmake-build-debug/
/.idea
